@import 'config';
@import 'login';
@import 'dashboard';
@import 'users';
@import 'details';

body {
    background: $primary-color;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    font-size:18px;
  }