* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  margin: auto;
  width: 85vw;
  display: flex;
  justify-content: space-between;
}

.navbar {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

.form-section {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100vh;
}

.form-container {
  width: 100%;
}

.welcome {
  color: #213F7D;
  font-weight: 700;
  font-family: "Avenir Next";
  font-size: 40px;
  line-height: 54.64px;
}

.welcome-text {
  color: #545F7D;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  margin-bottom: 2rem;
}

.form-container input {
  width: 100%;
  height: 7vh;
  padding-left: 1rem;
  margin-top: 1.5rem;
  outline: none;
  border: 2px solid #545F7D;
  border-radius: 5px;
}

.show-btn, .hide-btn {
  position: absolute;
  right: 9vw;
  top: 57vh;
  border: none;
  color: #39CDCC;
  font-family: "Avenir Next";
  background-color: #FFFFFF;
}

.forgot-pwd {
  font-family: "Avenir Next";
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
  color: #39CDCC;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  cursor: default;
}

.login-btn {
  width: 100%;
  border: none;
  background-color: #39CDCC;
  color: #FFFFFF;
  padding: 1rem 0;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #80f0f0;
}

.login-error {
  position: absolute;
  top: 10vh;
  right: 20vw;
  color: red;
  font-weight: bold;
}

.login-success {
  position: absolute;
  top: 10vh;
  right: 20vw;
  color: green;
  font-weight: bold;
}

.reset-container {
  margin: auto;
  width: 85vw;
  padding-top: 5rem;
}

.reset-container form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.reset-container input {
  margin-bottom: 1.5rem;
  padding: 0.75rem 1rem;
  outline: none;
  border: 2px solid #545F7D;
  border-radius: 5px;
}

.reset-btn {
  padding: 0.75rem 0;
  border: none;
  border-radius: 5px;
  background-color: #39CDCC;
  color: #FFFFFF;
}

.reset-btn:hover {
  background-color: #80f0f0;
}

.reset-error {
  margin-top: 3rem;
  color: red;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.reset-success {
  margin-top: 3rem;
  color: green;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.topbar-container {
  box-shadow: 0px 0px 6px grey;
  padding: 1.25rem 0;
}

.topbar-inner {
  margin: auto;
  width: 95vw;
  display: flex;
}

.logo-search {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.logo-search form {
  display: flex;
  justify-content: center;
}

.logo-search input {
  padding: 0.35rem 1rem;
  width: 20vw;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #213F7D;
  outline: none;
}

.logo-search button {
  padding: 0.35rem;
  width: 3vw;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #39CDCC;
  color: #FFFFFF;
  border: none;
}

.avatar-docs {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #213F7D;
}

.avatar-docs .docs {
  border-bottom: 1px solid #213F7D;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.bell-icon, .avatar, .username {
  margin-left: 1rem;
}

.avatar-docs .username {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.77px;
}

.dashboard-body {
  display: flex;
}

.sidebar {
  width: 19%;
  padding-top: 2rem;
  box-shadow: 2px 2px 6px grey;
}

.sidebar .org-container, .sidebar .dashboard-container {
  margin-bottom: 1.5rem;
  padding-left: 2.5vw;
}

.sidebar .dashboard-container {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.switch-org {
  display: flex;
  color: #213F7D;
  margin-bottom: 1.75rem;
}

.switch-org p {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dashboard-div {
  display: flex;
  color: #213F7D;
}

.dashboard-div p {
  margin-left: 0.5rem;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
}

.sidebar-inner .main-text {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 14.08px;
  padding-left: 2.5vw;
  margin-bottom: 0.75rem;
  color: #545F7D;
}

.sidebar-inner ul {
  list-style-type: none;
}

.sidebar-inner li {
  display: flex;
  padding-left: 2.5vw;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  color: #213F7D;
}

.sidebar .users-link {
  color: #213F7D;
}

.sidebar .focus {
  background-color: #e5fafa;
  border-left: 3px solid #39CDCC;
}

.div2-ul p, .div3-ul p, .div4-ul p {
  margin-left: 0.75rem;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
}

.dashboard-body .main {
  width: 81%;
  background-color: #E5E5E5;
}

.dashboard-body .main-inner {
  margin: auto;
  width: 95%;
  padding-top: 3.5rem;
}

.main p {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  color: #213F7D;
}

.users-metrics {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.users-metrics .box {
  box-shadow: 0px 0px 5px gray;
  padding: 1rem;
  flex: 1 1 0;
  width: 0;
}

.users-metrics .box div {
  width: 22px;
  height: 22px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.users-metrics .box1-div {
  background-color: #DF18FF;
}

.users-metrics .box2-div {
  background-color: #5718FF;
}

.users-metrics .box3-div {
  background-color: #F55F44;
}

.users-metrics .box4-div {
  background-color: #FF3366;
}

.box2, .box3, .box4 {
  margin-left: 1rem;
}

.users-metrics .text {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  color: #545F7D;
  margin-bottom: 0.5rem;
}

.users-metrics .number {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 28.15px;
  color: #213F7D;
}

.users-data {
  box-shadow: 0px 0px 5px grey;
  margin-top: 3rem;
  padding-top: 1rem;
}

.users-data Table {
  width: 100%;
}

.users-data th {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 12.08px;
  color: #545F7D;
  text-align: left;
}

.users-data td {
  border-bottom: 1px solid #213F7D;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  color: #545F7D;
}

.users-data th, .users-data td {
  padding-left: 0.5rem;
}

.users-data span {
  margin-left: 0.25rem;
}

.users-data .pending, .users-data .inactive, .users-data .blacklisted, .users-data .active {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 50px;
}

.users-data .pending {
  color: #E9B200;
  background-color: #fceec1;
}

.users-data .inactive {
  color: #545F7D;
  background-color: #d2d5dd;
}

.users-data .blacklisted {
  color: #E40338;
  background-color: #e9dadd;
}

.users-data .active {
  color: #39CD62;
  background-color: #cbeed5;
}

.status-dots {
  color: #545F7D;
}

.pagination-div {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.pagination-div .pagination-nav ul {
  display: flex;
  list-style-type: none;
}
.pagination-div .pagination-nav ul .page-item {
  margin-left: 1rem;
  color: #545F7D;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
}
.pagination-div .pagination-nav ul a {
  text-decoration: none;
}
.pagination-div .pagination-nav ul .nav-icons {
  color: #213F7D;
  background-color: #d7e0f1;
}
.pagination-div .pagination-nav ul .next-icon {
  margin-left: 1rem;
}
.pagination-div .pagination-nav ul .page-itemactive {
  font-weight: 500;
}
.pagination-div .display .display-text1, .pagination-div .display .display-text2 {
  color: #545F7D;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
}
.pagination-div .display .display-num {
  color: #213F7D;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  background-color: #c5d1e9;
  padding: 0.25rem 0.5rem;
  text-align: center;
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.filter-block {
  position: absolute;
  top: 70vh;
  left: 21vw;
  width: 27vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 5px grey;
  background-color: #FFFFFF;
}

.filter-block form {
  margin: auto;
  width: 85%;
}

.filter-block p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
  margin-bottom: 0.5rem;
}

.filter-block select, .filter-block input {
  width: 100%;
  border: 1px solid #213F7D;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.filterblk-btn {
  text-align: center;
  margin-top: 1rem;
}

.filterblk-btn button {
  padding: 0.65rem 1.65rem;
  border-radius: 5px;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 600;
}

.filterblk-reset {
  margin-right: 1rem;
  color: #545F7D;
  border: 1px solid #545F7D;
}

.filterblk-filter {
  background-color: #39CDCC;
  border: none;
  color: #FFFFFF;
}

.actions-container {
  background: transparent;
}
.actions-container .users-actions {
  width: 17vw;
  position: absolute;
  top: 77vh;
  right: 2vw;
  background-color: #FFFFFF;
  padding: 0.75rem;
  box-shadow: 0px 0px 5px grey;
}
.actions-container .users-actions div {
  margin-bottom: 1rem;
  cursor: pointer;
}

.users-actions span, .users-actions .view {
  margin-left: 0.5rem;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
}

.userdetails-body {
  display: flex;
}

.details-main {
  background-color: #E5E5E5;
  width: 81%;
  padding-top: 3rem;
}

.details-container {
  margin: auto;
  width: 95%;
}

.details-container .back-link {
  color: #545F7D;
}

.details-container .arrow {
  margin-top: 0.5rem;
}

.details-container .back-link span {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  margin-left: 0.5rem;
}

.details-container .text-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.details-container .text-btns p {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  color: #213F7D;
}

.details-container .details-btns button {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 600;
  background: transparent;
}

.details-container .details-btns .activate-btn {
  margin-left: 1rem;
  color: #39CDCC;
  border: 1px solid #39CDCC;
}

.details-container .details-btns .blacklist-btn {
  color: #E4033B;
  border: 1px solid #E4033B;
}

.details-container .user-intro {
  box-shadow: 0px 0px 5px grey;
  margin-top: 3rem;
  width: 100%;
  padding-top: 2rem;
}

.details-container .user-intro .intro-inner {
  margin: auto;
  width: 95%;
}

.details-container .user-intro .intro-inner .upper-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.details-container .user-intro .intro-inner .upper-div .img-names {
  display: flex;
  align-items: center;
  border-right: 1px solid #545F7D;
  padding-right: 1rem;
  line-height: 28px;
}
.details-container .user-intro .intro-inner .upper-div .img-div {
  width: 60px;
  height: 60px;
  background-color: #bbbbbb;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-container .user-intro .intro-inner .upper-div .img-div .profile-img {
  width: 60px;
  height: 40px;
  color: #213F7D;
}
.details-container .user-intro .intro-inner .upper-div .name-div {
  margin-left: 1.5rem;
}
.details-container .user-intro .intro-inner .upper-div .name-div .user-name {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  color: #213F7D;
}
.details-container .user-intro .intro-inner .upper-div .name-div .user-id {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  color: #545F7D;
}
.details-container .user-intro .intro-inner .upper-div .tier-container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #545F7D;
  line-height: 28px;
}
.details-container .user-intro .intro-inner .upper-div .tier-container .tier-text {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
}
.details-container .user-intro .intro-inner .upper-div .balance-container {
  padding-left: 1rem;
  line-height: 28px;
}
.details-container .user-intro .intro-inner .upper-div .balance-container .balance {
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 500;
  color: #213F7D;
}
.details-container .user-intro .intro-inner .upper-div .balance-container .acct-number {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  color: #213F7D;
}
.details-container .user-intro .intro-inner .lower-div {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.details-container .user-intro .intro-inner .lower-div div {
  font-family: "SF Compact Text";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.details-container .user-intro .intro-inner .lower-div .gen-details {
  border-bottom: 2px solid #39CDCC;
  color: #39CDCC;
  font-family: "Work Sans";
  padding-left: 1rem;
  padding-right: 1rem;
}
.details-container .user-info {
  box-shadow: 0px 0px 5px grey;
  margin-top: 3rem;
  width: 100%;
  padding-top: 2rem;
}
.details-container .user-info hr {
  margin-bottom: 1rem;
}
.details-container .user-info .userinfo-inner {
  margin: auto;
  width: 95%;
}
.details-container .user-info .userinfo-inner .main-text {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  color: #213F7D;
  margin-bottom: 1.5rem;
}
.details-container .user-info .userinfo-inner .heading {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  color: #545F7D;
  margin-bottom: 0.5rem;
}
.details-container .user-info .userinfo-inner .content {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  color: #545F7D;
  margin-bottom: 1rem;
}
.details-container .user-info .userinfo-inner .personal-info {
  display: flex;
  justify-content: space-between;
}
.details-container .user-info .userinfo-inner .education-employment {
  display: flex;
  justify-content: space-between;
}
.details-container .user-info .userinfo-inner .socials {
  display: flex;
}
.details-container .user-info .userinfo-inner .socials .facebook, .details-container .user-info .userinfo-inner .socials .instagram {
  margin-left: 4rem;
}
.details-container .user-info .userinfo-inner .guarantor {
  display: flex;
}
.details-container .user-info .userinfo-inner .guarantor .guarantor-phone, .details-container .user-info .userinfo-inner .guarantor .guarantor-email, .details-container .user-info .userinfo-inner .guarantor .guarantor-relationship {
  margin-left: 4rem;
}

body {
  height: 100vh;
}/*# sourceMappingURL=main.css.map */